
<div class="battle-scene">
  <div class="opponent-pokemon">
     <!-- Platform for opponent -->
    <div class="pokemon-info"style="padding-right: 50px"> 
      <div style="display: flex; flex-direction: row;">
      <div class="pokemon-name">Cypher  <strong>Lv.40</strong></div>
     
      <div *ngIf="opponentStatus === 'paralyzed'" class="status-paralyze">Paralyzed</div>
      <div *ngIf="opponentStatus === 'burned'" class="status-burn">Burned</div>
   
      </div>
      <div class="hp-bar">
        <span class="hp-label" >HP</span>
        <div class="hp-outer" [ngClass]="{'hp-outer-red': opponentHP < 200}" >
          <div class="hp-inner" [ngClass]="{'hp-inner-red': opponentHP < 200}" [style.width.%]="opponentHP / 6"></div>
        </div>
     
      </div>
    </div>
    
    <div class="pokemon slide-left">
      <img [src]="opponentSprite" [ngClass]="{'blink-animation' : opponentHit, 'step-animation' : opponentDancing, 'dead-animation': opponentHP === 0}" [ngClass]="opponentAttackingAnimation" alt="cypher" class="pokemon-sprite opponent-sprite"   />
      <div class="platform"></div> 
      <div [ngClass]="hitImageClass" ></div> 
      </div>
  </div>  

  <div class="stamina-container">
    <div class="stamina-bar">
      <span class="stamina-label" >Energy </span>
   
      <div class="stamina-outer">
      
        <div class="stamina-inner"  [style.height.%]="playerStamina">
          <span *ngIf="playerStamina > 0" class="stamina-value" style="position: absolute; color:white">{{playerStamina}} </span>
        </div>
       
        <div class="stamina-glow"></div>
      </div>
     <button [ngClass]="{'cool-button': playerStamina === 100, 'cool-button-disabled': playerStamina < 100, }">🟔</button>
    </div>
  </div>

  <div class="player-pokemon">
   <!-- Platform for player -->
    <div class="pokemon slide-right">
      <div style="transform: scaleX(-1);">
    <img [src]="playerSprite" [ngClass]="{'idle-animation': isPlayerTurn, 'blink-animation' : playerHit, 'dash-animation' : playerAttacking, 'step-animation' : playerDancing, 'dead-animation': playerHP === 0}"  alt="lafa" class="pokemon-sprite player-sprite" />
  </div>
    <div class="platform"></div> 
    <div [ngClass]="hitPlayerImageClass" ></div> 
    </div>
    <div class="pokemon-info" style="margin-bottom: 50px; padding-left: 50px">
      <div style="display: flex; flex-direction: row;">
      <div class="pokemon-name">Laffa <strong>Lv.42</strong></div>
      <div *ngIf="playerStatus === 'paralyzed'" class="status-paralyze">Paralyzed</div>
      <div *ngIf="playerStatus === 'burned'" class="status-burn">Burned</div>
   
       
        </div>
      <div class="hp-bar">
        <span class="hp-label">HP</span>
        <div class="hp-outer" [ngClass]="{'hp-outer-red': playerHP < 200}" >
          <div class="hp-inner" [ngClass]="{'hp-inner-red': playerHP < 200}" [style.width.%]="playerHP / 6"></div>
        </div>
       
        <span class="hp-label">{{playerHP}} / 600</span>
      </div>
    </div>
  </div>

  <div *ngIf="isMobile" class="stamina-bar-mobile">
    <span class="stamina-label" >Energy </span>
    <div class="stamina-outer-mobile" >
      <div class="stamina-inner-mobile"  [style.width.%]="playerStamina"></div>
    </div>
   
  </div>
  <div class="battle-menu">
    <div class="dialogue-box">{{ gameMessage }}</div>
  
    <!-- Main menu (initial options) -->
    <div class="options" *ngIf="showMainMenu">
      <div class="option-row">
        <button class="option" (click)="onFightClick()">FIGHT</button>
        <button class="option">BAG</button>
      </div>
      <div class="option-row">
        <button class="option" (click)="boostStamina()" (mouseenter)="showActionDetails('Channels some energy')"  (mouseleave)="hideMoveDetails()" >CHARGE</button>
        <button class="option" (click)="heal()" (mouseenter)="showActionDetails('Uses energy to restore HP')"  (mouseleave)="hideMoveDetails()" >MEDITATE</button>
      </div>
    </div>
  
    <!-- Fight menu (attack options) -->
    <div class="options" *ngIf="showFightMenu">
      <div class="option-row">
        <button class="option" (mouseenter)="showMoveDetails(playerMoveset[0])"
        (mouseleave)="hideMoveDetails()" (mousedown)="playerAttack(playerMoveset[0])">{{playerMoveset[0]}}</button>

        <button class="option" (mouseenter)="showMoveDetails(playerMoveset[1])" 
        (mouseleave)="hideMoveDetails()" (mousedown)="playerAttack(playerMoveset[1])">{{playerMoveset[1]}}</button>
      </div>
      <div class="option-row">
        <button class="option" (mouseenter)="showMoveDetails(playerMoveset[2])"
        (mouseleave)="hideMoveDetails()" (mousedown)="playerAttack(playerMoveset[2])">{{playerMoveset[2]}}</button>
        <button class="option" (mouseenter)="showMoveDetails(playerMoveset[3])"
        (mouseleave)="hideMoveDetails()" (mousedown)="playerAttack(playerMoveset[3])">{{playerMoveset[3]}}</button>
      </div>
      <!-- Button to go back to the main menu -->
      <button class="option" (click)="goToMainMenu()">◄ Go Back</button>
    </div>
     <div class="move-details-tooltip" *ngIf="showTooltip" [ngStyle]="{ 'bottom.vh': tooltipBottom }">
   <!-- <p><strong>Category:</strong> {{ moveDetails?.category }}</p> -->
    
    <p *ngIf="moveDetails?.power" style="display: inline-block; margin-right: 20px;"><strong>Power:</strong> {{ moveDetails?.power }}</p>
    <p *ngIf="moveDetails?.accuracy" style="display: inline-block;"><strong>Accuracy:</strong> {{ moveDetails?.accuracy }}</p>

    <p *ngIf="moveDetails?.description"><strong>Description:</strong> {{ moveDetails?.description }}</p>
    <p *ngIf="moveDetails?.effect"><strong>Effect:</strong> {{ moveDetails?.effect }}</p>
    <p>{{ actionDesc }}</p>
  </div>
  </div>


 
  
</div>
